@import "reset";
@import "media_partial";
html {
    body {
        background: rgb(15, 15, 15);

        header {
            background: rgb(203, 27, 73);
            color: rgb(255, 255, 255);
            line-height: 2em;
            font-size: 2em;
            padding-left: 1em;
            width: 6em;

            @include media-adapt-to(handhelds) {
                width: calc(100% - 2.2em);
                font-size: 4vw;
                padding-left: 1.1em;
            }
        }

        #main-region {
            font-size: 1em;

            > ul {
                width: calc(100% - 2em);
                padding: 1em;
                text-align: center;

                > li {
                    position: relative;
                    display: inline-block;
                    vertical-align: top;
                    width: calc((100% - 1em) / 4);
                    @include media-adapt-to(handhelds) {
                        width: calc((100% - 1em) / 2);
                        margin-bottom: 0.8em;
                    }

                    img {
                        position: relative;
                        max-width: calc(100% - 1em);
                        height: auto;
                    }

                    div {
                        position: absolute;
                        width: calc(100% - 1em);
                        height: auto;
                        background: rgba(0, 0, 0, .6);
                        bottom: 0;
                        color: rgb(255, 255, 255);
                        margin-bottom: 0.6%;
                        margin-left: 0.5em;

                        @include media-adapt-to(handhelds) {
                            position: relative;
                            background: none;
                            color: rgb(255, 255, 255);
                            margin-bottom: 0;
                        }

                        p {
                            padding: 1em;
                            word-wrap: break-word;
                            font-size: 120%;
                            font-size: 2.5vw;
                            text-align: left;
                            @include media-adapt-to(handhelds) {
                                font-size: 105%;
                                font-size: 4vw;
                                padding: 0.3em;
                            }
                        }
                    }
                }
            }
        }
    }
}
