<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>RedBull Photo Story Pannel</title>
    <link rel="stylesheet" type="text/css" href="build/css/style.css">
</head>

<body>
    <header>Photo stories</header>
    <div id="main-region"></div>

    <script type="text/template" id="template">
        <img src="<%- imageUrl %>" alt="red_bull_image" />
        <div>
            <p>
                <%- title %>
            </p>
        </div>
    </script>

    <!-- Here we load our JavaScript -->
    <script type="text/javascript" src="build/js/libs.js"></script>
    <script type="text/javascript" src="build/js/app.js"></script>
</body>

</html>
